.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
    width:auto;
    align-items: center;
}
            
.form{
    width:50%;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

h2{
    color: white;
    font-size: 3rem;
}

.card{
    width:100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}